<h3>Rašyk Komentarą</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Tavo Vardas" %><br/>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body, "Tavo Komentaras" %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Komentuoti' %>
  </p>
<% end %>
