<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title, "Pavadinimas" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Tekstas" %><br />
    <%= f.text_area :body %>
  </p>
  <p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url, class: 'image-small' %><br/>
  <% end %>
  <%= f.label :image, "Prideti vaizdą" %><br />
  <%= f.file_field :image %>
</p>

  <p>
    <%= f.submit 'Atnaujinti', class: 'btn'%>
  </p>
  <p>
  <%= f.label :tag_list, "Etiketės" %><br />
  <%= f.text_field :tag_list %>
</p>

<% end %>
