<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title, "Pavadinimas" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Tekstas" %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Atnaujinti', class: 'btn'%>
  </p>
  <p>
  <%= f.label :tag_list, "Etiketės" %><br />
  <%= f.text_field :tag_list %>
</p>

<% end %>
