<h1><%= @article.title %></h1>
<p>
	Etiketės:
	<% @article.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<p><%= @article.body %></p>
<h3>Komentarai (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<%= link_to "<< Atgal į straipsnių sąrašą", articles_path %>
<%= link_to "Redaguoti ", edit_article_path(@article) %>
<%= link_to "Ištrinti", article_path(@article), method: :delete, data: {confirm: "Ar tikrai ištrinti straipsnį?"} %>