<!DOCTYPE html>
<html>
  <head>
    <title>Rails blogas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400|Roboto:100,300,400&subset=latin-ext" rel="stylesheet"> 
  </head>

  <body>
    
<div class="container">
      <div class="header">
        <h1 class="header-heading">RAILS</h1>
      </div>

      <div class="nav-bar">
        <ul class="nav">
          <li><%= link_to "Straipsniai", articles_path %></li>
          <li><%= link_to "Antraštės", tags_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Naujas", new_article_path %></li>
          <% end %>
          
        </ul>
      </div>

      <div class="content">
      <p class="flash"><%= flash.notice %></p>
      <h6>
        <% if logged_in? %>
          <%= "#{current_user.email}" %>
          <%= link_to "| Atsijunk", logout_path %>
        <% else %>
          <%= link_to "Prisijunk", login_path %>
        <% end %>
      </h6><hr>
      <!-- <hr> -->
        <%= yield %>
      </div>

      <div class="footer">
        &copy; Copyright 2016
      </div></div>
    
  </body>
</html>
